{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aikonwoods - Efficient Agricultural Supply Chain Solutions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'logistics:home' %}">
                <i class="fas fa-tractor me-1"></i>
                <span><b>Aikonwoods</span></b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logistics:home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown">
                            About Us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'logistics:about' %}#who-we-are">Who We Are</a></li>
                            <li><a class="dropdown-item" href="{% url 'logistics:about' %}#our-vision">Our Vision</a></li>
                            <li><a class="dropdown-item" href="{% url 'logistics:about' %}#our-mission">Our Mission</a></li>
                            <li><a class="dropdown-item" href="{% url 'logistics:about' %}#team">Team</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logistics:contact' %}">Contact</a>
                    </li>
                </ul>
                <div class="d-flex ms-3">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Content Block -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="mb-4">About Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'logistics:about' %}#who-we-are" class="text-white text-decoration-none">Who We Are</a>
                        </li>
                        <li><a href="{% url 'logistics:about' %}#who-we-are" class="text-white text-decoration-none">Who We Are</a>
                        </li>
                    <li><a href="{% url 'logistics:about' %}#our-mission" class="text-white text-decoration-none">Our Mission</a></li>
                        <li><a href="{% url 'logistics:about' %}#team" class="text-white text-decoration-none">Team</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="mb-4">Contact Us</h5>
                    <ul class="list-unstyled">
                    <li><a href="{% url 'logistics:contact' %}" class="text-white text-decoration-none">Contact Form</a>
                    </li>
                        <li><a href="#" class="text-white text-decoration-none">Support</a></li>
                        <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="mb-4">Socials</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-facebook-f me-2"></i>
                                Facebook</a></li>
                        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-twitter me-2"></i>
                                Twitter</a></li>
                        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-instagram me-2"></i>
                                Instagram</a></li>
                        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-linkedin-in me-2"></i>
                                LinkedIn</a></li>
                    </ul>
                </div>
            </div>
            <hr class="bg-light mt-4">
            <div class="text-center pt-3">
                <p>&copy; 2025 Aikonwoods. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>